html,body
  line-height:1
  font-weight:200
  font-family: 'PingFang SC','STHeitiSC-Light','Helvetica-Light',arial,sans-serif

@media (-webkit-device-pixel-ratio:1.5),(min-device-pixel-ratio: 1.5)
  .border-1px
    &::after
      -webkit-transform:scaleY(.7)
      transform:scaleY(.7)

@media (-webkit-device-pixel-ratio:2),(min-device-pixel-ratio: 2)
  .border-1px
    &::after
      -webkit-transform:scaleY(.5)
      transform:scaleY(.5)

@media (-webkit-device-pixel-ratio:3),(min-device-pixel-ratio: 3)
  .border-1px
    &::after
      -webkit-transform:scaleY(.33)
      transform:scaleY(.33)

[v-cloak]
  display:none

.clearfix
  zoom:1
  &::before,&::after
    display:table
    content: ' '
    height:0
    line-height:0
  &::after
    clear:both
    visibility:hidden

// 令vue-easy-toast距离底部有一段距离
.et-wrapper.et-bottom
    bottom:20px
